body {
    font-family: 'poppins', sans-serif;
}

#home {
    margin-top: 8px;
}

.bg {
    margin-top: 10px;
    height: 150px;
    border: 2px solid blue;

}

.div-flex {
    display: flex;

}

#div-img {
    width: 10%;
    text-align: center;
    margin-right: 5px;
    background-color: rgb(225, 105, 84);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-solid {
    font-size: 50px;

}

.link-button {

    color: aliceblue;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border-radius: 3px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.div-about {
    padding: 50px 20px 0 50px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
}

.half-width-imag {
    width: 80%;
}

.color {
    color: #e67e22;

}

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

footer {
    background-color: rgb(15, 159, 152);
    color: aliceblue;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;

}

#div-Myweb {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: aliceblue;
    margin-right: 5px;
}

.padding {
    padding-top: 20px;
    padding: 20px 50px;

}

.div-padding {
    padding: 5% 2.5% 5% 5%;
}
h6{
    font-size: 10px;
}
#div-search {
    width: 20%;
    background-color: rgb(225, 105, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;

}

.nav-section {
    margin-top: 10px;
    border: 2px solid blue;
}
.nav-section div{
    border: 2px solid tomato;
    border-radius: 2px;
}

nav {
    width: 100%;
}

.nav-section a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.nav-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 16.5666667%;
    margin-right: .1%;
    text-align: center;
    background-color: darkseagreen;

}

#background-image {
    background-image: url(images/Munna.jpg);
    background-size: auto;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-half-width {
    width: 50%;
}

#login {
    text-align: center;
}

#inline {
    display: inline;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid gray;
    margin-bottom: 30px;
    margin: 20px 50px;
}
#grid div{
    border: 2px solid gray;
    height: 200px;
}

#image-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#image-gallery div {
    border: 2px solid gray;
    height: 200px;
}

.fa-brands{
    font-size: 20px;
}
#grid div img {
    height: 100%;
    width: 100%;
}

#center {
    text-align: center;
}

#grid-table {
    display: grid;
}

#grid-table table {
    border: 2px solid gray;
    grid-template-columns: repeat(5, 1fr);
}

#grid-table div img {
    height: 100%;
    width: 100%;
}

.title {
    background-color: #2f92b4;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

#slide-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-div img {
    width: 50%;
    height: 25%;
}

#myCarousel {
    height: auto;
    width: auto;
    overflow: hidden;
}

th {
    padding: 20px 20px;
}

#cell23 {
    background-color: #fc5c65;
}

#grid div a img {
    height: 100%;
    width: 100%;
}

#contact-us {
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 10px;
}

#contact-us input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 10px 10px;
    width: 130px;
    background-color: #2f92b4;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    background-image: linear-gradient( lightseagreen , tomato);
    
}

#align-right {
    text-align: right;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

.box-shadow {
    width: 85%;
    box-shadow: 10px 10px 50px gray;
    padding: 30px 30px 50px 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;

}

.box-shadow-login {
    width: 25%;
    box-shadow: 10px 10px 50px gray;
    padding: 70px 30px 100px 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;

}
.box-shadow-login input{
    width: 90%;
}

.box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
}

a {
    color: black;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

form {
    display: flex;
    gap: 0px;
    line-height: 50px;
    font-size: 18px;
    padding: 10px 0 20px 20px;
}

form div {
    text-align: left;
}
form label{
    font-size: 15px;
}

form input {
    padding: 2px 0;
    font-size: 15px;
    margin-bottom: 0px;
}
#reg-padding{
    margin-bottom: 50px;

}
#reg-padding label{
    padding-left: 70px;
}
#reg-padding input{
    padding-left: 10px;
}

.label-direction {
    display: flex;
    flex-direction: column;
}

.flex-direction {
    display: flex;
    flex-direction: column;

}

.div-center {
    display: flex;
    justify-content: center;
    text-align: center;
}
.fa-solid{
    font-size: 70px;
}
